
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    scroll-behavior: smooth;
}

:root{
    --color1: #18db86;
    --color2: #fff;
    --color3: #3f3f3f;
    --color4: #222;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
}

header .logo{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    color: var(--color1);
    text-decoration: none;
    font-weight: 700;
    font-size: 50px;
}

header ul{
    position: relative;
    display: flex;
    gap: 48px;
}

header ul li{
    list-style: none;
}

header ul li a{
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: var(--color2);
    font-weight: 500;
    font-size: 35px;
}

header ul li a:hover{
    color: var(--color1);
    transition: 0.5s;
}

.activo a{
    color: var(--color1);    
}



#home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--color4); 
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.contenido{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    z-index: 10;
}

.contenido h2{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    font-size: 55px;
    color: var(--color1);
}

.contenido p{
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    color: var(--color2);
    font-size: 30px;
    line-height: 1.6em;
}

.boton{
    position: relative;
    display: inline-block;
    font-size: 25px;
    max-width: 200px;
    background: var(--color1);
    color: var(--color4);
    text-align: center;
    padding: 15px 25px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: none;
    margin-top: 10px;
}

#home::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 25vw;
    background: var(--color1);
    border-top-left-radius: 25vw;
    border-top-right-radius: 25vw;
}


.imagen{
    position: absolute;
    bottom: 0;
    right: 100px;
    max-height: 90vh;
}

#servicio, 
#porfolio,
#contacto{
    position: relative;
    background: var(--color3);
    min-height: 100vh;
    padding: 120px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.seccion-texto{
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-texto h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    color: var(--color1);
}

.seccion-texto p{
    font-family: 'Rajdhani', sans-serif;
    max-width: 700px;
    text-align: center;
    color: var(--color2);
    font-size: 30px;
    line-height: 1.5em;
}

#servicio .servicio-contenido {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

.servicioBx{
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid var(--color4);
}

.servicioBx:hover{
    border: 2px solid var(--color1);
    box-shadow: -8px 9px 13px -3px var(--color1);
    transition: 0.5s;
}

.servicioBx i{
    opacity: 0.5;
}

.servicioBx i:hover{
    opacity: 1;
    transition: 0.5s;
}

.servicioBx h3{
    font-family: 'Bebas Neue', cursive;
    color: var(--color2);
    font-weight: 500;
}

#porfolio{
    background: var(--color4); 
    text-align: center;  
}

#porfolio .contenido{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

#porfolio .img-porfolio{
    position:relative ;
}

#porfolio .img-porfolio:hover{
    border: 2px solid var(--color1);
    transform: scale(1.1);
    transition: 0.3s;
}

#porfolio .img{
    max-width: 100%;
}

.contenido h3{
    font-family: 'Bebas Neue', cursive;
    color: var(--color1);
    font-size: 30px;
}

.contenido h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: var(--color2);
    background-color: var(--color1);
}

.contenido a{
    text-decoration: none;
}

.contacto-contenido{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

.contacto-contenido a{
    background: var(--color4);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--color2);
    transition: 0.5s;
}

.contacto-contenido a:hover{
    background: var(--color1);
}

.contacto-contenido i {
    color: var(--color1);
    font-size: 1.5em;
    margin-right: 10px;
    transition: 0.5s;
}

.contacto-contenido a:hover,
.contacto-contenido a:hover i{
    color: var(--color4);
}

.center p{
    font-family: 'Rajdhani', sans-serif;
    margin-left: 150px;
    position: relative;
    color: var(--color2);
    font-size: 1.1em;
    text-align: center;
}

@media (max-width: 1600px){
    #porfolio .contenido{
        grid-template-columns: repeat(3,1fr);
    }

}

@media (max-width: 1300px){
    #porfolio .contenido{
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width: 700px) {
    #home .contenido h2{
        font-size: 3em;
    }   

    #home::before{
        width: 80vw;
        height: 40vw;
        background: var(--color1);
        border-top-left-radius: 80vw;
        border-top-right-radius: 80vw;
    }

    #home img{
        height: 40vh;
      }   

      #servicio .servicio-contenido, #contacto .contacto-contenido{
        grid-template-columns: repeat(1,1fr);
    }

    #contacto a{
        height: 80px;
    }
}


@media (max-width: 200px){
    header{
        padding: 20px 50px;
    }

    #home{
        padding: 150px 50px;
        flex-direction: column;
        padding-bottom: 0;
    }

    #home h2{
        font-size: 4em;
    }

    #home .boton{
        max-width: 160px;
        padding: 10px 20px;
    }

    #home img{
      position: absolute;  
      height: 50vh;
      right: 0;
    }

    .seccion-texto h2 {
        font-size: 2em;
        text-align: center;
    }

    #servicio, #porfolio, #contacto{
        padding: 50px;
    }

    #servicio .servicio-contenido, #contacto .contacto-contenido{
        grid-template-columns: repeat(2,1fr);
    }

    #porfolio .contenido{
        grid-template-columns: repeat(1,1fr);
    }

    .menuNav{
        position: relative;
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    
    .menuNav::before{
       content: '';
       position: absolute;
        width: 100%;
        height: 2px;
        background: #ffffff;
        transform: translateY(-10px);
        transition: 0.5s;
        box-shadow: 0 10px white;
    }

    .menuNav::after{
        content: '';
        position: absolute;
         width: 100%;
         height: 2px;
         background: #ffffff;
         transform: translateY(10px);
         transition: 0.5s;
     }

     header .activo .menuNav::before{
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 white;
     }

     header .activo .menuNav::after{
        transform: translateY(0px) rotate(315deg);
     }

    header ul{
        display: none;
    }

    header .activo ul{
        position:fixed ;
        left: 0;
        top: 84x;
        width: 100%;
        height: calc(100vh - 84px);
        background: rgba(118, 100, 100, 0.95);
        display: flex;
    }
}


